<link rel="stylesheet" href="bootstrap.css" type="text/css" /> 
<link rel="stylesheet" href="custom.css" type="text/css" /> 

<div class="board">
	<% session[:tiles].each {|key, value| %>
		<% if value == "blank" %>	
			<a href="/<%= key %>" class="btn btn-info"></a>
		<% elsif value == "computer" %>
			<a href="/<%= key %>" class="btn btn-danger"></a>
		<% elsif value == "human" %>
			<a href="/<%= key %>" class="btn btn-success"></a>
		<%end%>

		<% if key % 3 == 0 %>
			<br><br>
		<% end %>
	<% } %>
</div>